/*
Brandon Reyes
3/11/2024
File Name: styles07.css
*/

/* Reset styles */
body, header, main, footer, h1, h3, section, article, aside, p {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #dfe7c4;
    color: #333;
}

/* Header styles */
header {
    background-color: #628c45;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Main content styles */
main {
    padding: 20px;
}

/* Article styles */
article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

/* Section styles */
section {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Aside styles */
aside {
    padding: 20px;
}

/* Footer styles */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
}

/* Link styles */
a {
    color: #628c45;
}

/* Link hover styles */
a:hover {
    text-decoration: underline;
}
